.progress-border {
  width: 100%;
  height: 40px;
  border: 5px solid red;
  border-radius: 21px;
  overflow: hidden;

  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      90deg,
      rgba(117, 140, 198, 1) 0%,
      rgba(107, 200, 203, 1) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #25263e inset;

  transition: all 0.3s ease-in-out;
  position: relative;
  .border-bar {
    height: 100%;
    width: 60%;
    border-radius: 21px;
    background: linear-gradient(
      90deg,
      rgba(117, 140, 198, 1) 0%,
      rgba(107, 200, 203, 1) 100%
    );

    p {
      font-family: "Rubik", sans-serif;
      font-size: 30px;
      color: #ffffff;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
