.scroll-bar-c {
  div {
    &:first-child {
      div {
        &:last-child {
          background-color: orange;
          width: 30px !important;
          border-radius: 21px !important;

          .scroll-bar-thumb {
            background-color: red !important;
            border-radius: 20px !important;
          }
        }
      }
    }
  }
}
