.table{

  position: relative;

  &-wraper{
  background : linear-gradient(77.87deg, rgba(54, 53, 104, 1) 0%, rgba(154, 102, 155, 0.5) 100%);
  border-radius : 36px;
  padding: 30px; 
 
  }

  &-row{
    background : linear-gradient(90deg, rgba(54, 53, 104, 1) 0%, rgba(36, 38, 62, 1) 100%);
    border-radius : 12px;
    height: 50px;
    margin-bottom: 30px; 

     &-colored{
  background : linear-gradient(90deg, rgba(54, 53, 104, 1) 0%, rgba(154, 102, 155, 1) 100%);
     }

     &:last-child{
       margin-bottom: 0;
     }
  }

}

// .box{
//   background: rgba(255, 0, 0, 0.5);
//   width: 200px;
//   height: 200px;
//   position: absolute;
//   top: 0;
//   left: 100px;
//   z-index: -1;
// }