.table {
  margin-bottom: 5rem;
  position: relative;

  &-wraper {
    border-radius: 36px;
    padding: 30px;
  }

  &-row {
    border-radius: 12px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .table-img {
    img {
      width: 60px;
      height: 60px;
    }
  }
}

.bluish-gradient {
  background: linear-gradient(
    77.87deg,
    rgba(54, 53, 104, 1) 0%,
    rgba(154, 102, 155, 0.5) 100%
  );
}

.bluish-row-gradient {
  background: linear-gradient(
    90deg,
    rgba(54, 53, 104, 1) 0%,
    rgba(154, 102, 155, 1) 100%
  );
}

.full-bluish-gradient {
  background: linear-gradient(
    90deg,
    rgba(54, 53, 104, 1) 0%,
    rgba(36, 38, 62, 1) 100%
  );
}
